body {
	background-color: #FFF;
	margin-top:100px;
	font-family: arial, helvetica, sans-serif;
	font-size: 14px;
	line-height: 23px;
	color: #333;
}

h1 {
	color: #333;
	font-size: 60px;
	text-align: center;
	font-family: 'Lustria', serif;
	font-weight: normal;
}

h2 {
	color: #333;
	border-bottom: 1px dashed #444;
	padding: 2px 0 5px 2px;
}

h3 {
	margin-bottom: 2px;
}

h3 + p {
	margin-bottom: 2px;
	margin-top: 2px;
}

a {
	color: #02baf2;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

p {
	color: #333;
	display: block;
}

.tooltip-container {
	width: 600px;
	margin: 0px auto;
	position: relative;
}

header {
	text-align: center;
	border-bottom: 2px dashed #444;
	margin-bottom: 50px;
}

section {
	margin-bottom: 50px;
}

.btn-toolbar {
	z-index: 2;
	margin: 55px 30px 0px 40px;
}

.example {
	margin-bottom: 50px;
}

.example section.left,
.pull-left  {
	float: left;
}

.example section.right {
	float: right;
	width: 450px;
}

.clear {
	clear: both;
}

footer {
	border-top: 2px dashed #444;
	font-size: 13px;
	text-align: center;
}

.download {
	text-align: center;
}


table {
	border-collapse: collapse;
}


th, td {
	border: 1px solid #CCC;
	padding: 6px;
	font-size: 12px;
}

th {
	font-family: arial, helvetica, sans-serif;
	font-size: 14px;
}

th, tr:nth-child(even) {
	background-color: #fBfBfB;
}

tr:nth-child(odd) {
	background-color: #FFF;
}

.demo-link {
	color: #89CDE4;
	text-decoration: underline;
	cursor: pointer;
	margin-left: 30px;
}

.demo-link:hover {
	text-decoration: none;
	cursor: pointer;
}

pre.prettyprint, code.prettyprint {
    border-radius: 4px;
	font-size: 12px;
    line-height: 18px;
	padding: 10px !important;
	border-color: #E4E4E4 !important;
}

.samples .btn-toolbar {
	margin: 30px 30px;
}

.row {
	overflow: auto;
}

.row div {
	float: left;
}

.row div.btn-toolbar {
	margin: 12px 70px 12px 30px;
}

.row pre {
	float: left;
}

header ul {
	list-style: none;
	margin-bottom: 0;
	margin-top: 22px;
	line-height: 10px;
	margin-right: 13px;
}

header li {
	display: inline-block;
}

.btn-download {
	  font-family: Helvetica, Arial, sans-serif;
  border: 1px solid transparent;
  display: inline-block;
  min-width: 140px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.6;
  border-radius: 4px;
  padding: 10px 25px 10px 25px;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-transition: all .25s linear;
  transition: all .25s linear;
  color: #ffffff;
  background-color: #02baf2;
}

.btn-download:hover {
	text-decoration: none;
  background-color: #35c8f5;
  border-color: #35c8f5;
}

.feature-toolbar {
	margin: 0 auto;
	margin-bottom: 20px;
}